@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@plugin '@tailwindcss/typography';


* {
    margin: 0;
    padding: 0;
}
body, html {
    background-color: black;
    width: 100%;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    z-index: -1;

    -webkit-overflow-scrolling: touch; 
    backface-visibility: hidden;
    scroll-behavior: smooth !important;

}
section {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: whitesmoke;
    z-index: 10;
    padding: 50px 0;
    top: 0;
    font-size: 35px;
    text-shadow: 0 0 15px rgba(0, 119, 255, 0.4);
}
@media (pointer: coarse) {
  html {
    scroll-behavior: auto !important;
  }
}